<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_editar.css') }}">

</head>
<body>

    <h1>Editar Producto</h1>

    <form action="/actualizar_producto/{{ producto[0] }}" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ producto[1] }}" required>
        
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" required>{{ producto[2] }}</textarea>
        
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" value="{{ producto[3] }}" required>
        
        <label for="precio">Precio:</label>
        <input type="text" id="precio" name="precio" value="{{ producto[4] }}" required>

        <button type="submit">Actualizar Producto</button>
    </form>

</body>
</html>
